name: auto_animated
description: Widgets starting auto play animation when mounted. It is already possible to animate the list and icons.
repository: https://github.com/ScerIO/packages.flutter/tree/main/packages/auto_animated
issue_tracker: https://github.com/ScerIO/packages.flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+auto_animated%22
version: 3.1.0

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=2.0.0'

dependencies:
  flutter:
    sdk: flutter
  visibility_detector: ^0.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
